<div class="copyright">
    <p class="copyright-text">
        © {new Date().getFullYear()} Nikolaj Bundgaard Licht. All rights reserved.
    </p>
</div>


<style>
    .copyright-text {
        text-align: center; 
        margin-top: 2em;
        color: rgba(0, 0, 0, 0.5)
    }
</style>