---
import Navigation from "./Navigation.astro";
import CopyRight from "./CopyRight.astro";
const {showNavigation}  = Astro.props;
const {showCopyRight} = Astro.props;
---

<div class="section gradient-top-down">
    {showNavigation && <Navigation class="navigation"></Navigation>}
    <slot />
    {showCopyRight && <CopyRight class="copyright"></CopyRight>}
</div>


<style>
    .section{
        margin: 0em auto 4em auto;
        width: 100%;
        max-width: 1200px;
        padding: 1em 0 1em 0;
    }

    .navigation{
        margin-bottom: 3em;
    }

    .gradient-top-down{
        background-color: var(--light-color);
        background: var(--light-color);
        background: linear-gradient(24deg, var(--egg-color-saturated) 0%, var(--gradient-light) 80%); 
    }


    @media only screen and (max-width: 600px) {
        .section{
            margin: 1em auto 1em auto;
            width: 94%;
            padding: .5em;
        }
    }

</style>