---
import Navigation from "./Navigation.astro";
let {title} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{title}</title>
    </head>
    <body>
        <div class="content">
            <div class="section gradient-top-down">
                <Navigation></Navigation>
                <slot name="top-section"/>
            </div>

            <div class="section gradient-bottoms-up">
                <slot name="bottom-section"/>
            </div>
        </div>
    </body>
</html>


<style>
    :root{
    --dark-color: rgb(27, 24, 19);
    --light-color: rgb(233, 214, 178);
    --egg-color: rgb(233, 222, 201);
    --egg-color-dark: rgb(222, 193, 146);
    --egg-color-saturated: rgb(214, 173, 106);
    --title-padding: 2vw;
    }

    body{
        background-color: var(--dark-color);
    }

    .section{
        padding: 1em;
        margin: auto;
        width: 80%;
    }

    .gradient-top-down{
        background-color: var(--light-color);
        background: var(--light-color);
        background: linear-gradient(24deg, var(--egg-color-saturated) 0%, var(--light-color) 80%); 
    }
    
    .gradient-bottoms-up{
        background-color: var(--light-color);
        background: var(--light-color);
        background: linear-gradient(24deg, var(--light-color) 0%, var(--egg-color-saturated) 80%); 
    }

    .content {
        background-color: var(--dark-color);
        width: 100%;
        margin: auto;
        font-family: 'Roboto Mono', monospace;
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .section:nth-child(2){
        margin-top: 40px;
    }


    @media (hover:none), (hover:on-demand) { 
        .content{
            padding-top: 1em;
        }
    }
</style>