---
import MainLayout from "./MainLayout.astro";
import GradientBox from "./GradientBox.astro";
import ProjectCard from "./ProjectCard.astro";

const moreProjects = await Astro.glob("../pages/more/*.md");
const baseProjects = await Astro.glob("../pages/projects/*.md");
const allProjects = [...moreProjects, ...baseProjects];

---

<MainLayout>
    <GradientBox showNavigation={true}>
        <div class="more-projects-container">
                {
                    allProjects.sort((a, b) =>{
                        return a.frontmatter.order - b.frontmatter.order;
                    }).map((post) => <ProjectCard {post} />)
                }
        </div>
    </GradientBox>
</MainLayout>


<style>

.more-projects-container {
    padding: 2em;
    margin: 2em auto 4em auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}




</style>

