---
const infoPages = (await Astro.glob("../pages/info/*.md"))
  .sort((a, b) => (a.frontmatter.order ?? 0) - (b.frontmatter.order ?? 0))
  .filter((page) => page.frontmatter.showInNav)
const homePage = await import("../pages/index.astro");
---

<div class="navigation-container">
    <div class="nav-wrapper">
        <nav class="navigation">
            <li><a href={homePage.url + "/"}>home</a></li>
            {
                infoPages.map( (info) => <li><a href={info.url}>{info.frontmatter.title}</a></li>)
            }
            <li><a href="https://drive.google.com/file/d/12lE1kMj6UzD_a4od7FlU4Pgfowd5X1x_/view?usp=drive_link" target="_blank">CV</a></li>
            <li><a href="https://photos.google.com/share/AF1QipNmj_b66m4hsL4wxDlr063fvHkjUyZWybj5Xevx31tC7Y-cydDFLzlJwi9_V-VZjw?key=NFk3TERqUVlyY3hIa0FNaHlTcEJycjhYM2MzQVln" target="_blank">Analog Photos</a></li>
        </nav>
    </div>
</div>

<style>

    .navigation-container{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1em;
    }

    .nav-wrapper{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        max-width: 100%;
    }

    .navigation {
        grid-area: upperRight;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
    }

    li {
        float: left;
        flex-basis: content;
        flex-grow: 1;
        padding: 0;
        background-color: unset;
        transition: background-color 0.3s ease-in-out;
        margin-right: 2px;

        display: flex;
        align-items:center;
        justify-content:space-around;
        text-align:center;

    
    }

    li:last-child {
        margin-right: 0;
    }

    li:hover{
        background-color: var(--dark-color);
        color: var(--egg-color-dark);

        a {
            color: var(--egg-color-dark);
            transform:skew(-20deg);
        }
    }

    li a {
        display: block;
        color: var(--dark-color);
        text-align: center;
        padding: 5px;
        font-size: 1.2rem;
        text-decoration: none;
        font-family: 'Roboto Mono', monospace;
        text-transform: uppercase;
        transform:skew(0deg);
        transition: transform 0.1s ease-in-out;
        width: 100%;
    }

    li a:hover{
        color: var(--egg-color-dark);
        transform:skew(-20deg);
    }

    @media only screen and (max-width: 600px) {
        .navigation-container{
            position: relative;
            justify-content: center;
            width: 100%;

        }

        .nav-wrapper{
            width: 100%;
            min-width: 0;
        }

        .navigation{
            padding-bottom:0;
            margin-bottom:0;
            display: flex;
            flex-wrap: wrap;
            gap: 2px;
        }


        li {
            flex-basis: 100%;
            margin-right: 0;
        }

        li a {
            background-color: var(--dark-color);
            color: var(--egg-color);
            font-size: 4vi;
            width: 100%;

        }

    }
</style>
