---
const infoPages = await Astro.glob("../pages/info/*.md");
const homePage = await import("../pages/index.astro");
---

<div class="navigation-container">
    <div class="nav-wrapper">
        <nav class="navigation">
            <li><a href={homePage.url + "/"}>home</a></li>
            {
                infoPages.map( (info) => <li><a href={info.url}>{info.frontmatter.title}</a></li>)
            }
            <li><a href="https://drive.google.com/file/d/1o4dnxBPjSL0Av3dnz7edAm8XmdJ-o_3O/view?usp=drive_link" target="_blank">CV</a></li>
            <li><a href="https://photos.google.com/share/AF1QipNmj_b66m4hsL4wxDlr063fvHkjUyZWybj5Xevx31tC7Y-cydDFLzlJwi9_V-VZjw?key=NFk3TERqUVlyY3hIa0FNaHlTcEJycjhYM2MzQVln" target="_blank">gallery</a></li>
        </nav>
    </div>
</div>

<style>

    .navigation-container{
        display: flex;
        justify-content: flex-end;
    }

    .nav-wrapper{
        width: 40%;
        min-width: 500px;
        display: flex;
        justify-content: flex-end;
    }

    .navigation {
        grid-area: upperRight;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
    }

    li {
        float: left;
        flex-basis: content;
        flex-grow: 1;
        padding: 0;
        background-color: #ddd;
        transition: background-color 0.3s ease-in-out;
        margin-right: 2px;

        display: flex;
        align-items:center;
        justify-content:space-around;
        text-align:center;

    
    }

    li:hover{
        background-color: var(--dark-color);
        color: var(--egg-color-dark);
    }

    li a {
        display: block;
        color: var(--dark-color);
        text-align: center;
        padding: 5px;
        font-size: 1.2rem;
        text-decoration: none;
        font-family: 'Roboto Mono', monospace;
        text-transform: uppercase;
        transform:skew(0deg);
        transition: transform 0.1s ease-in-out;
    }

    li a:hover{
        color: var(--egg-color-dark);
        transform:skew(-20deg);
    }

    @media only screen and (max-width: 600px) {
        .navigation-container{
            position: relative;
            background-color: var(--dark-color);
            justify-content: center;
            width: 100%;
        }

        .navigation{
            padding-bottom:0;
            margin-bottom:0;
            display: flex; /* Add this */
            flex-wrap: wrap; /* Add this */
            margin: auto;
        }

        .nav-wrapper{
            width: 100%;
            min-width: 0;
        }

        li {
            flex-basis: 100%;
            margin-right: 0;
        }

        li a {
            color: var(--dark-color);
            font-size: 4vi;

        }

    }
</style>
